
<h3> Booking page</h3>
<h3 <%=@current_space.space_name%></h3><br><br>
<form action="/request" method="post" >
<table class='booking'  border="6">
<tr>
  <ul>
    <td>
      <ul>
        Space description: <%=@current_space.space_description%>
      </ul>
      <ul>
        Space price: <%=@current_space.space_price%>
      </ul>
      <ul>
        Space address: <%=@current_space.address%>
      </ul>
      <ul>
      Space available from :<%=@current_space.availability_start%> to <%=@current_space.availability_end%> <br>
      <br>
      <input class = "booking-date" type="date" name="availability_start" value="<%=@current_space.availability_start%>" required><br><br>
  <input class = "booking-date" type="date" name="availability_end" value="<%=@current_space.availability_end%>" required>
  <br><br>
  <input type="hidden" name="space_book_id" value="<%=@current_space.id%>">
  <input type="submit" name="" value="Request to book">
  </ul>
  </td>
</tr>
</tabel>
</form>
