<h2>Welcome to BNB </h2>
<h1>Welcome <%=current_user.username%></h1>
<form action="/spaces/new" method="get">
  <input type="submit" value="List a Space">
</form>
<% @spaces.each do |space| %>
<li>
  Space name: <%=space.space_name%>
  Space description: <%=space.space_description%>
  Space price: <%=space.space_price%>
  Space availability from: <%=space.availability_start%>
  Space availability to: <%=space.availability_end%>
</li>
<% end %>
